.videoPage-TrackDetailName{
    color: cornflowerblue;
    font-size: larger;
    font-weight: 800;
    text-decoration: underline;
    margin-right: 10px;
}

.videoPage-TrackDetailValue{
    color: dodgerblue;
    font-size: initial;
    font-weight: 500;
}