.videoPage-playerContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.videoPage-trackDetails{
    margin-top: 30px;
}

.videoPage-backIcon{
    display: flex;
    margin-left: 220px;
    margin-top: 5px;
}

.videoPage-pausePlayIconContainer{
    margin-top: 10px;
}

.videoPage-pausePlayIconContainer:hover{
    cursor: pointer;
    opacity: 0.5;
}

.videoPage-backIcon:hover{
    cursor: pointer;
    opacity: 0.5;
}